$primaryColor: #FFFFFF;
$secondaryColor: #419e93;
$navColor: #000000;

@font-face {
    font-family: boldPoppins;
    src:url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: mediumPoppins;
    src: url(../fonts/Poppins-Medium.ttf);
}